<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "BugMS Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="bg-gray-50 font-sans">
    <%= render "layouts/nav" %>
    <main class="container mx-auto mt-10 px-5">
      <%= yield %>
    </main>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const btn = document.getElementById("mobile-menu-btn");
      const menu = document.getElementById("mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    });
</script>
</html>
